@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.main-container {
    height: 100vh;
    width: 100%;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__container {
    width: 30%;
    height: 450px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.card__star {
    border-radius: 50%;
    background-color: hsl(213, 19%, 24%);
    width: 50px;
    height: 50px;
    position: relative;
}

.star {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 700;
}

.card__tittle {
    color: hsl(0, 0%, 100%);
}

.card__paragraph {
    color: hsl(217, 12%, 63%);
    font-size: 1.2em;
}

.card__numbers {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card__number {
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 19%, 24%);
    padding: 1em;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.2em;
    width: calc(20% - 1em);
    text-align: center;
    cursor: pointer;
}

.card__number:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    transition: all 0.5s ease;
}

.button {
    width: 100%;
    height: 4.75em;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border-radius: 40px;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    transition: all 0.5s ease;
}
